<% if @recipes.empty? %>
  <p>You currently don't have any recipe available </p>
  <%= link_to 'Add Recipe', new_recipe_path %>
<% else %>
  <%= link_to 'Add Recipe', new_recipe_path %>
  <div>
    <% @recipes.each do |recipe| %>
      <h2><%= recipe.name%></h2>
      <h2><%= recipe.description%></h2>
      <p><%= link_to 'Show Recipe', recipe_path(recipe) %></p>
      <p> <%= button_to 'Remove', recipe_path(recipe), form: { data: { turbo_confirm: "Are you sure?" } },  method: :delete %> </p>
    <% end %>
  </div>
<% end %>