<div>
  <h2><%= @recipe.name %></h2>
  <h5>Preparation time: <%= @recipe.preparation_time %></h5>
  <h5>Cooking time: <%= @recipe.cooking_time %></h5>
  <p> description: <%= @recipe.description %></p>
</div>

<% if @recipe.foods.empty? %>
  <h4>This Recipe has no food attached to it</h4>
  <%= link_to 'Add Food', new_food_path %>
<% else %>
  <div>
    <table>
      <thead>
        <tr>
          <th>Food</th> 
          <th>Quantity(g)</th> 
          <th>Value</th> 
          <th>Action</th> 
        </tr>
      </thead>
      <tbody>
        <% @recipe.foods.each do |food| %>
          <tr>
            <td><%= food.name %></td> 
            <td><%= food.quantity %></td>
            <td><%= '$' + food.price.to_s %></td>
            <% if can? :delete, food %>
            <td><%=  button_to 'Delete', food_path(food), form: { data: { turbo_confirm: "Are you sure?" } },  method: :delete %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table><br>
    <%= link_to 'Add Food', new_food_path %>
  </div>
<% end %>